{% extends "base.html.twig" %}

{% block title %} SymRecipe - Accueil {% endblock %}
{% block body %}
    <div class="container" mt-4>
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur SymRecipe !</h1>
            <p class="lead">les recttes tout ça</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription afin d'utiliser l'application.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
{% endblock %}
