{% extends "base.html.twig" %}

{% block title %} SymRecipe - Info {% endblock %}
{% block body %}
    <div class="container" mt-4>
        <div class="jumbotron">
            <h1 class="display-4">ici tu as toutes les infos des recettes</h1>
            <p class="lead">miamiam</p>
            <hr class="my-4">
            <p>test des pages </p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
{% endblock %}
